PORT = 
MONGODB_URI = 
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = ""
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = ""
REFRESH_TOKEN_EXPIRY = 10d


CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""